<%= form_for(@credit_card) do |f| %>
  <p class="fw-bold mb-4">Add new card:</p>

  <div class="form-outline mb-4">
    <%= f.text_field :cardholder_name, autofocus: true, required: true, class: "form-control", placeholder: "" %>
    <label class="form-label" for="formControlLgXsd">Cardholder's Name</label>
  </div>

  <div class="row mb-4">
    <div class="col-7">
      <div class="form-outline">
        <%= f.text_field :card_number, autofocus: true, required: true, class: "form-control", pattern: "(2|4|5).*", title: "Please enter a valid card number", placeholder: "0000 0000 0000 0000", id: "cardNumberField" %>
        <div id="cardImageContainer"></div>
        <label class="form-label" for="formControlLgXM">Card Number</label>
      </div>
    </div>
    <div class="col-3">
      <div class="form-outline">
        <%= f.text_field :expire, autofocus: true, required: true, class: "form-control", placeholder: "MM/YYYY" %>
        <label class="form-label" for="formControlLgExpk">Expire</label>
      </div>
    </div>
    <div class="col-2">
      <div class="form-outline">
        <%= f.number_field :cvv, autofocus: true, required: true, class: "form-control", placeholder: "CVV" %>
        <label class="form-label" for="formControlLgcvv">Cvv</label>
      </div>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary btn-block mb-4" %>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const cardNumberField = document.getElementById('cardNumberField');
    const cardImageContainer = document.getElementById('cardImageContainer');

    const updateCardImage = () => {
      const cardNumber = cardNumberField.value;
      cardImageContainer.innerHTML = '';

      if (cardNumber.startsWith('2') || cardNumber.startsWith('5')) {
        const mastercardImage = document.createElement('img');
        mastercardImage.className = 'img-fluid';
        mastercardImage.src = 'https://img.icons8.com/color/48/000000/mastercard-logo.png';
        cardImageContainer.appendChild(mastercardImage);
      } else if (cardNumber.startsWith('4')) {
        const visaImage = document.createElement('img');
        visaImage.className = 'img-fluid';
        visaImage.src = 'https://img.icons8.com/color/48/000000/visa.png';
        cardImageContainer.appendChild(visaImage);
      }
    };

    cardNumberField.addEventListener('input', updateCardImage);
    
    // Call the function to generate the card image on page load
    updateCardImage();
  });
</script>
