<div class="card" style="width: 18rem;">
  <div class="card-body">
    <%= image_tag "1.jpeg", class: "d-block w-100" %>
    <h5 class="card-title"><%= @category.name %></h5>
    <p class="card-text"><%= @category.description %></p>
    <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-primary" %>
  </div>
</div>

<%= link_to 'Back', categories_path %>