<div class="card" style="width: 18rem;">
  <div class="card-body">
    <%= image_tag @product.image, class: "d-block w-100" %>
    <h5 class="card-title"><%= @product.name %></h5>
    <p class="card-text"><%= @product.description %></p>
    <p class="card-text">Color: "<%= @product.color %>"</p>
    <p class="card-text">Price: <%= @product.price %>$</p>
    <p class="card-text">Size: <%= @product.size %></p>
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary" %>
  </div>
</div>

<%= link_to 'Back', products_path %>